.cart {
  margin-right: 20px;
}

.menu {
  margin-right: auto;
  margin-left: 20px;
}

.top-icon img {
  height: 30px;
  width: 30px;
}

.top-nav {
  display: flex;
  background: transparent!important;
}

.hero-image {
  background-image: url('../images/hero.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bottom-link {
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 10px;
}

.bottom-nav {
  align-items: center;
  background-color: #000000;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.bottom-nav a {
  color: white;
}
