.cart {
  margin-right: 20px;
}

.menu {
  margin-right: auto;
  margin-left: 20px;
}

.top-icon img {
  height: 30px;
  width: 30px;
}

.top-nav {
  display: flex;
  background-image: url('../images/hero.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bottom-link {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 8px;
}

.bottom-nav {
  align-items: center;
  background-color: #000000;
  bottom: 0;
  display: flex;
  height: 50px;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
